extends layout


block content
  //+nav("TomorrowCode", "dropdown_menu", "inverse")
    +nav_item( "/index", "active" ) Home
    +nav_item( "/tasks" ) Coding Tasks
    +nav_item( "/users" ) Users and Teachers
    +nav_item_dropdown( "#" )( label="More")
      +nav_item( "#" ) My Code
      +nav_item( "#" ) My Progress
      +nav_item( "#" ) My Class
      +nav_divider
      +nav-header Messages
      +nav_item( "#" ) Friends
      +nav_item( "#" ) Teachers
  div.container
    +panel("Coding The Future", "default") Coding The Future is a site to help students worldwide learn how to use code, even if it's just a few basic tricks.  
    
